* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav ul {
	list-style-type: none;
}

.rules ul {
	text-align: center;
	list-style-type: none;
}

.top-header h1 {
	text-align: center;
	background-color: red;
}

.sec-header h3 {
	text-align: center;
	background-color: blue;
}

.description p {
	text-align: center;
}

.nav {

}

.whitespace {
	float: right;
	margin: 0;
	padding: 10px;
}

.footer {
	text-align: center;
	background-color: red;
}

.game-board {
	background-color: orange;
	display: flex;
	justify-content: center;
}

	.images {
		height: 550px;
		width: 500px;
		border: 5px solid black;
		margin: 5px;
	}

	#image0 {
		content: url("images/0hangman-empty.jpg");
	}

	#image1 {
		content: url("images/0hangman-noose.jpg");
		display: none;
	}

	#image2 {
		content: url("images/1hangman-head.jpg");
		display: none;
	}

		#image3 {
			content: url("images/2hangman-body.jpg");
			display: none;
		}

	#image4 {
		content: url("images/3hangman-leftArm.jpg");
		display: none;
	}

	#image5 {
		content: url("images/3hangman-rightArm.jpg");
		display: none;
	}

	#image6 {
		content: url("images/4hangman-leftLeg.jpg");
		display: none;
	}

	#image7 {
		content: url("images/4hangman-rightLeg.jpg");
		display: none;
	}

	#image8 {
		content: url("images/5hangman-leftFoot.jpg");
		display: none;
	}

	#image9 {
		content: url("images/6hangman-dead.jpg");
		display: none;
	}

	#keyboard {
		margin: 0;
		padding: 0;
		list-style: none;
	}

    	#keyboard li {
    		float: left;
    		margin: 5px 5px 5px 0;
    		width: 45px;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		background: #fff;
    		border: 1px solid #f9f9f9;
    		border-radius: 7px;
    	}

  	#word {
    	font-size: 50px;
    	display: flex;
		justify-content: center;
    }

    #guessInput {
    	height: 50px;
    	width: 50px;
    	font-size: 30px;
    	text-align: center;
    }

    #submit {
    	height: 50px;
    	width: 75px;
    }